# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# project related #
*.lst
*.txt
*.Bak
*.map
*.cbp
*.dep
*.crf
*.d
*.lnp
*.plg
*.tra
